/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-colored-box2  {
  background: $green;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

.color-palette-toolbar {
  border: 1px solid rgb(226, 228, 231);
  border-left: none;
  height: 38px;
  padding-top: 4px;
  background-color: white;
  padding-left: 5px;
}
